@model Project1.ViewModels.Store

@{
    ViewData["Title"] = "Details";
}

<h1>Store Details</h1>

<div class="form-group">
    <h4>Is this the Store you would like to order from?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    @*<form asp-controller="Orders" asp-action="StoreHistory">
        <input type="submit" value="See Order History" id="@Model.StoreId" class="btn btn-primary" />
    </form>*@
    <br />
    <form asp-action="Details" method="post">
        <input type="submit" value="Continue to Order" id="@Model.StoreId" class="btn btn-primary" />
    </form>
    <div>
        @Html.ActionLink("See Order History", "StoreHistory", "Orders", new { storeId = Model.StoreId })
    </div>
    <a asp-controller="Store" asp-action="Index">Back to Store Selection</a>
</div>
@*asp-controller="Orders" asp-action="Menu"*@